In [1]:
def lookup_plate (plaque,couleur=None) :
    import pandas as pd
    fichier = pd.DataFrame({'Plaque': ["FRQ1234", "FRZ9999", "FRQ6666","FRQ1234", "FRQ9999", "FRQ6666"], 
                            'Couleur': ["verte", "rouge", "verte","noire", "verte", "verte"],'Proprietaire': ["Fred Frequentist", "John W. Tukey", "Ronald Aylmer Fisher","Karl Pearson", "Gertrude Cox", "Kirstine Smith"]})
    index = fichier.index.where([i[0:3] == plaque[0:3] for i in fichier.Plaque ]).dropna()
    index = fichier.loc[index].index.where([True if couleur == None else j == couleur for j in fichier.loc[index].Couleur ]).dropna()
    return fichier.loc[index].Proprietaire

In [2]:
lookup_plate("FRQ1234","verte")

0.0        Fred Frequentist
2.0    Ronald Aylmer Fisher
4.0            Gertrude Cox
5.0          Kirstine Smith
Name: Proprietaire, dtype: object

In [3]:
import pandas as pd

mpr=pd.read_csv("mpr.csv",sep=";")

In [4]:
mpr

   Unnamed: 0 Dog Name             Owner Name         Dog Breed       Missing?
0           0      Duc                Simplon  Golden Retriever  Still Missing
1           1  Sigmoid                    NaN         Dachshund  Still Missing
2           2   Sparky             Dr. Apache     Border Collie          Found
3           3  Theorem  Joseph-Louis Lagrange    French Bulldog          Found

In [5]:
hauteur_cm = 165

plaque1 = "FRQ123"

duc_robe = "blond"

In [6]:
rancon = pd.read_csv("rancon.csv",sep=";") 

suspect1 = pd.read_csv("suspect1.csv",sep=";") 

suspect2 = pd.read_csv("suspect2.csv",sep=";") 

chiots = pd.read_csv("chiots.csv",sep=";") 

gravier = pd.read_csv("gravier.csv",sep=";")